/* Base */
.stats-card {
  background: var(--card-bg);
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  transition: all 0.2s ease;
}

/* Hover */
.stats-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

/* Title */
.stats-title {
  font-size: 13px;
  color: var(--text-secondary);
}

/* Value */
.stats-value {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary);
}

/* Default */
.stats-value {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary);
}

/* Color only value */
.stats-value.success {
  color: #16a34a; /* green */
}

.stats-value.danger {
  color: #dc2626; /* red */
}

.stats-value.info {
  color: #2563eb; /* blue */
}


/* 
.stats-card {
  background: var(--card-bg);
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  transition: all 0.2s ease;
  height: 100%;
  margin-bottom: 12px;
}

.stats-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

.stats-title {
  font-size: 13px;
  color: var(--text-secondary);
  margin-bottom: 6px;
}

.stats-value {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary);
} */